project_id     = "your-gcp-project-id"
region         = "europe-west1"
backend_image  = "europe-west1-docker.pkg.dev/your-gcp-project-id/cloud-run-source-deploy/spectra-backend:latest"
frontend_image = "europe-west1-docker.pkg.dev/your-gcp-project-id/cloud-run-source-deploy/spectra-frontend:latest"
frontend_domain = "spectra-frontend-xxxx-ew.a.run.app"
